<!DOCTYPE html>
<html>
<head>
    <title>bro</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>🤖TEKNOLOJİ BAĞIMLILIĞI🤖</h1>
    <h2>Teknoloji bağımlılığı, teknolojik aletleri istek ile bırakmakta zorluk çekmektir</h2>
    <p>Nasıl kurtulabileceğimiz hakkında birkaç örnekler</p>
    
            <ul>
                <li>Ekran süremizi düşürmeyi denemek</li>
                <li>Aklımızı teknolojiden çekecek aktiviteler</li>
                <li>Aile üyelerimizle vakit geçirmek</li>
            </ul>
    <img src="../static/img/65e6f0f03116811601b6f88c_0foYWIvSGr2R57LLuywh.png" alt="Image1">
    <iframe src="https://www.meteoblue.com/en/weather/week/istanbul_republic-of-t%c3%bcrkiye_745044?day=4&utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" width="200" height="300"></iframe>
    <p>Bu önerileri uygularsak hayatımız daha iyi olur👍</p>
    <img src="../static/img/s.gif" width="1000" height = "1000" alt="image2">
    <a href="/info">Daha çok bilgi? Tıkla</a>
    <a href=""
</body>
</html>